// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;



$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #13293D;
$dark-blue-lazuli: #0F597C;
$blue-moonstone: #229EB2;
$light-blue: #7EE5F7;
$white: rgb(255, 255, 255);
// $gray: #727272;
$light-gray-alice-blue: #E8F1F2;
