.carts-index-banner {
  margin-top:85px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: 40% 70%;
}

.carts-parent {
  top: -250px;
  justify-content: center;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  margin-left:auto;
  margin-right:auto;
}

.carts-header-banner {
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 4.0rem;
    color: $white;
    font-family: Helvetica, sans-serif;
    // text-decoration: underline;
    // text-decoration-thickness: 11px;
    // font-size: 38px;
  }
}

.number-carts-banner-count {
  text-align: center;

  h3 {
  font-weight: 780;
  color: $white;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  }
}

.part-after-banner {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 130px;
}

.items-header-cart {
  height: 44px;
  // width: 150px;
  margin-left: 110px;
  text-align: center;
  margin-bottom: 30px;
  // background-color: rgb(250, 248, 248);
  // border-style: solid;
  // border-width: 2px;
  // border-color: $dark-blue;
  // border-radius: 3px;
  position: relative;
  animation-name: itemsheadercart;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  background-color: white;


  h3 {
    font-weight: 780;
    color: $dark-blue;
    font-family: Helvetica, sans-serif;
    background: white;
  }
}

@keyframes itemsheadercart {
  0%   {background-color: rgb(250, 248, 248); width: 400px; left:0px; top:0px;}
  50%  {background-color: rgb(250, 248, 248); width: 400px; left:37.5%;}
  100% {background-color: rgb(250, 248, 248); width: 400px; left:0px; top:0px;}
}

// .delete-button {

//   padding-right: 15px;

//   a {
//     text-decoration: none;
//     color: $white;
//     padding-right:5px;
//   }
// }

.cart-checkout {
  width: 360px;
  height: 400px;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 4px 4px 11px 4px rgba(182, 181, 181, 0.315);
  border-radius: 8px;
  // border-color: $dark-blue;
  // border-width: 2px;
  // border-style: solid;
  padding: 22px;
  margin-left: 30px;

  h4, h3, p {
    font-weight: 780;
    color: $dark-blue;
    font-family: Helvetica, sans-serif;
  }
}

.cart-checkout-button1 {
  width: auto;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 13px;
  margin-top: 10px;
  background-color: $dark-blue;
  text-decoration: none;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;

  a {
    color: $white;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
  }
}

.cart-checkout-button2 {
  width: auto;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 13px;
  background-color: $white;
  border-width: 3px;
  border-style: solid;
  text-decoration: none;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;

  a {
    color:$dark-blue;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
  }
}

.cart-checkout-button3 {
  width: auto;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 5px;
  background-color: #ffd700;
  text-decoration: none;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;

  a {
    color: $dark-blue;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
  }
}

.cart-container-new-version {
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  background-color: rgb(250, 248, 248);
  // box-shadow: 4px 4px 10px 4px rgba(182, 181, 181, 0.315);
  border-radius: 8px;

}

.even {
    background-color: $white;
    box-shadow: 4px 4px 11px 4px rgba(182, 181, 181, 0.315);

}

.odd {
    background-color: $white;
    box-shadow: 4px 4px 11px 4px rgba(182, 181, 181, 0.315);

}

.container {
  // background-color: rgb(250, 248, 248);
  background-color: white;
}

.cart-list-child {
  // background-color: rgb(250, 248, 248);
  background-color: white;
}

.cart-product-container {
  overflow: hidden;
  height: 240px;
  border-radius: 8px;
  // background: aqua;
  box-shadow: 4px 4px 11px 4px rgba(182, 181, 181, 0.315);
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding: 20px;
}

.cl_image_tag {
  // background-color: #ffd700;
  // height: 255px;
  // width: 300px;
  // border-radius: 8px;
  // object-fit: cover;
}

// .cart-product-container img {
//   height: 100%;
//   width: 120px;
//   // object-fit: cover;
// }

.cart-product-infos {
  // background-color: aqua;
  height: 200px;
  // display: relative;
  width: 340px;
}

.cart-product-infos-upper-wrapper {
  height: 77px;
  margin: 0px;
  width: 300px;
  // background-color: #00ff15;
  margin-left: 20px;
  margin-top: -19px;

  h3 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 780;
    margin: 0;
    color: $dark-blue;
    // padding-left: 10px;
  }
}

.delete-container-icon {
  // background-color: #ffd700;
  height:200px;
  // width: 160px;
  width: 100%;
  display:relative;
  // margin-left: 10px;
}

.cart-venue-review {
  // background-color: #00ff15;
  height: 175px;
}

.delete-button {

  text-align: end;
  // background-color: black;
  height: 25px;
}

// .cart-product-infos h3 {
//   font-size: 20px;
//   font-family: Helvetica, sans-serif;
//   font-weight: 780;
//   margin: 0;
//   padding-left: 10px;
// }

.cart-product-infos h4 {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  color: $dark-blue;
}

.cart-text-infos {
  margin-left: 20px;
  width: 300px;
  height: 125px;
  // background-color: red;
}

.cart-text-infos h4{
  padding-bottom: 2px;
}


.cart-product-container .cart-product-infos {
  padding: 16px;
}
