// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 30px;
  height:620px;
  margin-bottom: 40px;
}

// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 2px;
  background: $blue-moonstone;
  transition: none;
  margin-bottom: 15px;
}

.btn-flat:hover {
  background: $dark-blue-lazuli;
  color: white;
}

label {
  margin-top: 15px;
  font-weight: 500;
  color: $dark-blue;
}

.sugg-form-control {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 20px;
}

// button[type="submit"]

.submit-button {

  background: $dark-blue-lazuli;
  color: white;
  padding: 4px;
  border-radius: 2px;
  border:none;
  margin-top: 10px;
  // display: flex;
  // align-items: flex-start;
  // justify-content: flex-start;
}


.suggestions {
  border-radius: 20px;
}

.explore-container {
  margin-bottom: 50px;
}

.venue-text-clr {
  color: white;
}

h2 {
  font-weight:500;
}

.title-slogan-container h1 {
  font-size:80px;
  color:white;
}


.title-slogan-container h2 {
  font-size:35px;
  color:white;
  font-weight: 500;
}

.title-slogan-container {
  margin-top: 70px;
  margin-left: 60px;
}



@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.floating-logo-container {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background: linear-gradient(-45deg,#82f2fd,#fd8fc1,#0f597c,#f962a6);
  background-size: 240% 240%;
  animation: gradient-animation 28s ease infinite;
  opacity: 0.8;
  height: 350px;
  display: flex;
  // justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.ai-text {
  margin-left: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.ai-text-spacing{
  letter-spacing: 5px;
}

.floating-img {
  margin-left: auto;
  margin-right: 20px;
  // display: flex;
  // justify-content: flex-end;
  align-items: center;
  height: 200px;
  width: 200px;
  animation: float 2.5s infinite;
  transition: ease 2.5s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-suggestions {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-flat-suggestions{
  border: 1px solid white !important;
  color: white !important;
  width: 200px !important;
  display: inline-block !important;
}
