.order-success-parent-container {
  // margin-top: 50px;
}

.number-of-orders {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 30px;
  width: 400px;


  h2 {
    font-family: Helvetica, sans-serif;
    color: $blue-moonstone;
    font-weight: 780;
    text-align: center;
    border-radius: 3px;
    border-style: solid;
    border-color: $dark-blue;
    border-width: 2px;
  }
}

.background-after-banner {
  background-color: $white;
  padding-bottom:20px;
}

#booking-title-order-success {

  font-family: Helvetica, sans-serif;
  color: $white;
  font-weight: 780;
  text-align: center;
}

#header-table-order {
  font-family: Helvetica, sans-serif;
  color: $dark-blue;
  text-align: center;
  background-color: $white;
}

#value-table-order {
  font-family: Helvetica, sans-serif;
  color: $dark-blue;
  text-align: center;
  background-color: $white;
}

#order-sucess-card {
  border-radius: 3px;
  background-color: $white;
}

#order-sucess-header-card {
  background-color: $blue-moonstone;
}

.order-success-index-banner {
  margin-top:85px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: 40% 70%;
}

.order-success-parent {
  top: -250px;
  justify-content: center;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  margin-left:auto;
  margin-right:auto;
}

.order-success-header-banner {
  text-align: center;

  h1 {
    font-weight: 780;
    color: $white;
    font-family: Helvetica, sans-serif;
    animation-duration: 6s;
    animation-name: ordersuccess;
    animation-iteration-count: infinite;
  }
}

// @keyframes ordersuccess {
//   0%   {color: $light-blue;}
//   25%  {color: y#ffd700;}
//   50%  {color: $light-blue;}
//   100% {color: #ffd700;}
// }

@keyframes ordersuccess {
  0%   {background: linear-gradient(to right, $light-blue, #bbfff9);}
  25%  {background: linear-gradient(to right, #ffd700, $light-blue);}
  50%  {background: linear-gradient(to right, $light-blue, #bbfff9);}
  100% {background: linear-gradient(to right, #ffd700, $light-blue);}
}
