.container-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  gap: 20px;
}

.container-payment-details,
.container-payment-form {
  width: 45%;
  padding: 20px;
  // top: 0px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-height: 75vh;
}

.container-payment-details h1,
.container-payment-form h1 {
  text-align: center;
}

.card-trip {
  width: 100%;
  height: 75px;
  margin: 10px auto;
  // border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  border: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.trip-image {
  height: 100%;
  height: 100%;
  background-size: cover;
}

.trip-desc {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  flex: 1;

}

.trip-price{
  display: flex;
  padding-top: 5px;
  align-items: flex-start;
  font-size: 14px;
}


.category-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 20%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  // padding: 10px;
  // border: 1px solid #3d3d3d;
  border-radius: 4px;
  // background-color: white;
}

.category-selector:checked {
  color: rgb(251, 251, 247) !important;
}


#order_card_type_visa + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('visa_icon.png');
  background-size: contain;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}


#order_card_type_visa:checked + label {
  opacity: 1;
}

#order_card_type_maestro + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('maestro_icon.png');
  background-size: contain;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}


#order_card_type_maestro:checked + label {
  opacity: 1;
}

#order_card_type_mastercard + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('mastercard_icon.png');
  background-size: contain;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  opacity: 0.7;
  transition: opacity 0.3s;
}


#order_card_type_mastercard:checked + label {
  opacity: 1;
}


#order_card_type_paypal + label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('paypal_icon.png');
  background-size: contain;
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  opacity: 0.7;
  transition: opacity 0.3s;
}


#order_card_type_paypal:checked + label {
  opacity: 1;
}

.btn-payment {
  padding-left: 51px;
  padding-right: 51px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $dark-blue;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: $white;
  font-family: Helvetica, sans-serif;

  a {
    color: $white;
  }
}

.btn-payment:hover {
    color:$dark-blue;
    background-color: $white;
    border-style: solid;
    border-width: 3px;
    border-color: $dark-blue;

    a {
      color: $dark-blue;
  }
}
