<div data-display-suggestions-target="list">
  <h1> <%= @content %></h1>

  <% if !@content.empty? %>
    <h2>Tags</h2>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to "#{tag}", venues_path(venuetype_id: [Venuetype.find_by(name: tag).id] )%>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
