<%#= image_tag "3d-map.png", height: 30, width: 30, alt: "Logo" %>

<div class="marker">
  <%#= image_tag "3d-map.png", height: 30, width: 30, alt: "Logo" %>
  <%= image_tag "custom_pin.png", height: 30, width: 30, alt: "Logo" %>
</div>
