<h1>Venues index</h1>

<h1>Count: <%= Venue.count %></h1>

<% @venues.each do |venue| %>
  <h3><%= link_to venue.name, venue_path(venue),  class:"text-decoration-none" %></h3>
  <p><%= venue.location %></p>
  <p><%= venue.address  %></p>
<% end %>
