<div class="venues-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.oficea.com/wp-content/uploads/2023/01/tsfsd.jpg);">
    <h1 class="header-banner">Add a venue</h1>
</div>


<h1>New venue</h1>

<%= render "form", venue: @venue %>

<br>

<div>
  <%= link_to "Back to venues", venues_path %>
</div>
