.venues-index-banner {
  background-position: 0% 40%;
  height: 270px;
  display:flex;
  margin-bottom: 20px;
}

.header-banner {
  margin: auto;
  color: $white;
  font-weight: bolder;
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  letter-spacing: -0.045em;
  // text-decoration: underline;
  // padding-top: 160px;
  // text-decoration-thickness: 12px;
  text-align:center;

}
