.simple-calendar {
  table {
    min-height: 10vh;
    border-radius: 2px;
    background-color: white;
  }
  .today {
    background-color: white;
  }
}

.meeting {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  background: $blue-moonstone;
  transition: background 0.3s ease;
}

// .meeting:hover {
//   background:$dark-blue-lazuli;
//   color: white;
// }
