.simple-calendar {
  table {
    min-height: 10vh;
    border-radius: 2px;
    background-color: white;
  }
  .today {
    background-color: rgb(255, 255, 255);
  }
}

.meeting {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  color: light-gray-alice-blue;
  padding: 3px 3px;
  border-radius: 4px;
  $light-gray: #F4F4F4;
  // background: $light-gray-alice-blue;
}

// .meeting:hover {
//   background:$dark-blue-lazuli;
//   color: white;
// }
