.card-title {
  font-family: Helvetica, sans-serif;
  color:$dark-blue;
  padding-bottom: 10px;
}

.card {
  border-radius: 8px;
  background-color: $white;
  max-width: 450px;
}

.card-body {
  padding: 25px;
  height: 250px;
}

.card-button-venue {
  padding-left: 51px;
  padding-right: 51px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $dark-blue;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: $white;
  font-family: Helvetica, sans-serif;

  a {
    color: $white;
  }
}

.card-button-venue:hover {
    color:$dark-blue;
    background-color: $white;
    border-style: solid;
    border-width: 3px;
    border-color: $dark-blue;

    a {
      color: $dark-blue;
  }
}

.card-img {
  overflow: hidden;
  height: 230px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image_tag {
  transition: all 1.5s ease;

  &:hover {
    transform: scale(1.5);
  }
}

.card-text-container1 {
  height: 25px;
  margin-bottom: 8px;
  color: $dark-blue;

  p {
    font-size: 16px;
  }

  .space-container {
    width: 148px;
  }

  .price-container {
    width: 250px;
  }
}
