.card-title {
  font-family: Helvetica, sans-serif;
  color:$dark-blue;
}

.card {
  border-radius: 3px;
}

.card-body {
  padding: 15px;
}

.card-button-venue {
  width: 220px;
  padding: 4px;
  background-color: $dark-blue;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;

  a {
    color: $white;
    font-family: Helvetica, sans-serif;
  }

  &:hover {
    background-color: $blue-moonstone;
  }
}

.card-img {
  overflow: hidden;
  height: 230px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.image_tag {
  transition: all 1.5s ease;

  &:hover {
    transform: scale(1.5);
  }
}

.card-text-container1 {
  height: 20px;
  margin-bottom: 8px;
  color: $dark-blue;

  p {
    font-size: 16px;
  }

  .space-container {
    width: 134px;
  }

  .price-container {
    width: 250px;
  }
}
