.chatroom {
  // background: gray;
  // opacity:0.3;
  margin-top: 30px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 15px;
  margin-bottom: 30px;

  // h1 {
  //   border-bottom: 0.5px solid white;
  //   // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  //   margin-bottom: 0;
  //   padding: 1rem;
  //   color:white;
  // }

  input {
    border-radius:2px;

  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }


}

.overlay {
  background:rgba(0, 0, 0, 0.1);

}

.btn-cht {
  border-radius: 2px;
  // background-color: $light-blue;
  border: none;
}

.chatroom-field {
  // background-color: white;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 7px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.chat-messages-container {
  // background-color:#eee;
  border-radius: 15px;
  margin-top:60px;
  margin-bottom:20px;
  height: 100vh;
  width:90vw;

}

.messages-list {
  max-height: 380px;
  overflow-y: scroll;
}
// rgba(149, 151, 153, 0.233)

.chat-messages-container h2 {
  color:white;
  font-weight:500;
}

.msg-notif-bubble {
  background-color: rgba(239, 239, 239, 0.455);
  height: 90px;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 7px;
  // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.email-p {
  font-size: 14px;
  font-style: italic;
  color:white;
}

.text-muted {
  font-size: 12px;
}

li {
  list-style-type: none;
}

.msg-title {
  padding-left: 20px;
  font-weight: 500;
}

.messages-container {
  margin-top:50px;
}

.chatroom-name {
  text-decoration:underline;
  color: $dark-blue;
}

.msg-container-gradient ,
.msg-container-gradient .container{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background: linear-gradient(-45deg,#82f2fd,#fd8fc1,#0f597c,#47e8f6);
  background-size: 240% 240%;
  animation: gradient-animation 28s ease infinite;
  opacity: 0.8;
}
.chatroom-title{
  display: flex;
  align-items: center;
      border-bottom: 0.5px solid white;
    // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding: 1rem;
    color:white;
}

.floating-img-chatroom {
  align-items: center;
  height: 40px;
  width: 40px;
  animation: float 2.5s infinite;
  transition: ease 2.5s;
}
