.footer {
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:80px;
  padding: 0px 30px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 26px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}


.footer-copyright {
  font-size: 20px;
  color:white;
  font-weight: 500;
}
