.page-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: $dark-blue;
}


.page-subheader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: $dark-blue-lazuli
}


.card-info-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $blue-moonstone
}

.card-info-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: $gray
}
