.locations-index-banner {

  height: 270px;
  margin-top:85px;
  background-position: 40% 50%;
  display: flex;
  background-repeat: no-repeat;

  h1 {
    color: $white;
    text-align: center;
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-weight: 780;
    // text-decoration: underline;
    // text-decoration-thickness: 11px;
  }
}

.map-locations-container {
  width: 100%;
  position:relative;
  background-color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.only-map-container {
  margin: auto;
  border-radius: 8px;
  // box-shadow: 5px 5px 5px 5px rgba(145, 144, 144, 0.582);

}
.only-insertlocations-container {
  background-color: $white;
  margin-left: 40px;
  margin-top: 18px;
  max-height: 400px;
  position:absolute;
  top: 20px;
  border-radius: 8px;
  color: $dark-blue;
  width: 40%;
  padding: 15px;
  box-shadow: 0px 2px 5px 5px rgba(121, 120, 120, 0.308);
  text-align: center;
  // font-size: 2px;
}

.sentence-insertlocations {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.map-location-details{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
}

.map-location-venue{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
}

.map-location-marker{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
}

.locations-lower-lists-container {
  // background-color: aqua;
  background-color: $white;
  padding-top: 20px;

}

.locations-filter-child-container {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  gap: 0px 60px;
  text-decoration: none;

  .header-locations-filter {
    font-family: Helvetica, sans-serif;
    color: $dark-blue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 380px;
    background-color: $white;
    font-size: 30px;
    position: relative;
    text-decoration: none;
  }
}
  .header-locations-filter:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:$dark-blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    text-decoration: none;
}

.header-locations-filter:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-decoration: none;
}


.specific-location-parent-container {
  margin-bottom: 0px;
}

.specific-location-child-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    font-family: Helvetica, sans-serif;
    color: $dark-blue;
    font-size: 30px;
    padding-bottom: 10px;
  }

  h4 {
    font-family: Helvetica, sans-serif;
    color: $dark-blue;
    font-size: 20px;
  }
}

.child-locations-paragraph {
  width: 1000px;
  margin: auto;
  color: $dark-blue;

  p {
    font-family: Helvetica, sans-serif;
    color: $dark-blue;
    margin-bottom: 20px;
  }
}

.specific-location-venue-child-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.map-headers-locations {
  font-size: 20px;
  color: $blue-moonstone;
  font-family: Helvetica, sans-serif;
}

.map-location-name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bolder;
}
