.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 2px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $blue-moonstone;
}

.receiver-style {
  background-color: $light-blue;
}


.chatroom-field {
  border-radius:2px;
}
