.review-link {
  min-width: 190px;
}

.booking-total {
  font-weight: 600;
}

.table {
  --bs-table-bg:white;
}

.booking-link-to-venue {
  color: white;
}

.bkng-btn {
  border-radius: 8px;
  width: 120px;
}

.order-table td {
  vertical-align: center;

}

.order-details-banner {
  background-size: cover;
  background-repeat: no-repeat;
}
