.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-color: #2196F3;
  // padding: 10px;
  // column-gap:15px;
  row-gap:15px;
}

.grid-item {
  // background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  // padding: 20px;
  // font-size: 30px;
  // text-align: center;
  // border: 1px solid rgba(0, 0, 0, 0.8);
  margin:0 20px 0 20px;
}

.review-grid-item {
  margin-top: 30px;
  margin-bottom: 20px;
  // border:0.5px solid #eee;
  padding:15px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.review-grid-item h2 {
  font-size: 40px;
  font-size:500;
}
