@import "banner";
@import "card";

// .carousel .carousel-control-prev,
// .carousel .carousel-control-next {
//   width: 20px;
//   height: 20px;
//   background-color: none;
//   top: calc(-20% -25%);
//   opacity: .8;
// }

// .carousel .carousel-control-prev {
//   left: unset;
//   right: 30px;
// }
.venue-img-container {
  margin-top:50px;
}

h2 {
  margin-top: 50px;
}

.carousel-item {
  background-color:black;
}
