@import "banner";
@import "card";

.filter-header {
  // padding-top: 20px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;

  h2 {
    font-family: Helvetica, sans-serif;
    font-weight: 780;
    font-size: 20px;
    color: $dark-blue;
  }

  .hover-underline-animation {
      display: inline-block;
      position: relative;
    }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: $dark-blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.count-container {
  // background-color: $blue-moonstone;
  width: 450px;
  height: 45px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  // border-radius: 3px;
  padding: 5px;
  // border-radius: 3px;
  // border-style: solid;
  // border-color: $dark-blue;
  // border-width: 2px;

  h3 {
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    font-weight: 780;
    color: $dark-blue;
    font-family: Helvetica, sans-serif;
  }
}

.background-venues-index {
  background-color: $white;
  padding-top:30px;
  padding-bottom:40px;
}

.search-venues-container {
  width: 90%;
  // padding: 10px;
  // background-color: rgb(12, 12, 10);
}

.header-search-venues-container-only {
  // background-color: aqua;
}

.search-bar-only {
  // background-color: rgb(168, 127, 16);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
  border-color: $dark-blue;
  border-style: solid;
  border-width: 1px;
}

.header-search-venues {
  // margin-left: 12px;
  color: $dark-blue;
  font-family: Helvetica, sans-serif;
  font-weight: 780;
  font-size: 20px;
}

.search-venues-bar {
  background-color: $white;
  border-radius: 8px;
  width: 700px;
  height: 30px;
  font-size: 14px;
}

.select-venue-types-container {
  color:$dark-blue;
  font-size: 18px;
}

.select-locations {

}

.button-apply-filters {
  margin-left: 5px;
  background-color: $dark-blue;
  border-radius: 8px;
  color: $white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 8px;
  width:130px;
  border: 2px solid $dark-blue ;
}

.button-reset-filters {
  margin-left: 5px;
  border: 2px solid $dark-blue ;
  color: $dark-blue;
  border-radius: 8px;
  background-color: $white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  width: 130px;
}

.btn-filter-container {
  margin-left: auto;
  margin-top: 10px;
}


.filter-container-venues {
  // background-color: aqua;
  height: 200px;
  margin-bottom: 40px;
}

.filter-child-container {
  // background-color: aqua;
  width: 96%;
  // max-height: 350px;
  border-radius: 8px;
  margin-left:9px;
  padding: 20px;
  box-shadow: 4px 4px 25px 4px rgba(185, 185, 185, 0.384);
//
}



.checkboxes-styling:checked + label {
  color: $white;
  border-style: solid;
  border-color: $dark-blue;
  border-width: 2px;
  transition: background-color 0.5s;
  background-color: $dark-blue !important;
}

.checkboxes-styling + label {
  padding: 2px 15px;
  border: 1px solid $dark-blue;
  border-radius: 8px;

}

.checkbox-group label {
  display: inline-block;
  margin-right: 5px;
}


.checkbox-group {
  display: flex;
}

.checkbox-item {
  font-size: 14px;
}

.filter-name{
  min-width: 200px;

}
