@import "banner";
@import "card";


// }
// .venue-img-container {
//   margin-top:50px;
// }

// h2 {
//   margin-top: 50px;
// }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-color: #2196F3;
  // padding: 10px;
  column-gap:15px;
  row-gap:15px;
}
.grid-item {
  // background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  // padding: 20px;
  // font-size: 30px;
  // text-align: center;
  // border: 1px solid rgba(0, 0, 0, 0.8);
  margin:0 20px 0 20px;
}

.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}


.back-arrow {
  color:$dark-blue-lazuli;
  font-weight: 500;
}


.chat-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 2px;
  background: $blue-moonstone;
  transition: background 0.3s ease;
  margin-bottom: 15px;
}

.chat-btn:hover {
  background: $dark-blue-lazuli;
  color: white;
}
.fa-solid {
  color: $dark-blue-lazuli;
  font-size: 18px;
}

.chat-btn {
  margin-left:10px;
}

#subtotal h5 {
  font-weight: 600;
  color:$dark-blue;
}

.desc-container2 {
  margin-left:70px;
}

.booking-container {
  // border:1px solid #eee;
  border-radius:15px;
  background-color:rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  min-height: 675px;
}

.booking-container h3 {
  padding-bottom: 10px;
  /* border: 1px solid red; */
  background-color: #229EB2;
  width: 104%;
  padding-top: 10px;
  margin-left: -11px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 6px;
  color:white;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
}
