@import "banner";
@import "card";


// }
.venue-img-container {
  margin-top:50px;
}

// h2 {
//   margin-top: 50px;
// }

.back-arrow {
  color:$dark-blue-lazuli;
  font-weight: 500;
}


.chat-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 2px;
  background: $blue-moonstone;
  transition: background 0.3s ease;
  margin-bottom: 15px;
}

.chat-btn:hover {
  background: $dark-blue-lazuli;
  color: white;
}
.fa-solid {
  color: $dark-blue-lazuli;
  font-size: 15px;
}

.chat-btn {
  margin-left:10px;
}

#subtotal h5 {
  font-weight: 600;
  color:$dark-blue;
}

.desc-container2 {
  margin-left:60px;
}
